# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [17]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
N = int(input('Enter the number of item you want to purchase : '))
total_cost = 0 
while(N > 0):
    choice = input('Enter the item : ')
    flag = 0
    for i in range(0, len(amazon_website)):
        
        if(amazon_website[i][0] == choice):
            flag = 1
            qty = int(input('Enter the Quantity : '))
            total_cost = total_cost + qty * amazon_website[i][1]
            print(f'After addding {qty} {choice} total cost to purchase : {total_cost}')
           
    if (flag == 0):
            print(f'{choice} is out of stock')
            
    N = N - 1

Enter the number of item you want to purchase : 3
Enter the item : laptop
Enter the Quantity : 2
After addding 2 laptop total cost to purchase : 100000
Enter the item : pen
pen is out of stock
Enter the item : shirt
Enter the Quantity : 2
After addding 2 shirt total cost to purchase : 102000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [22]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [45]:
tup = (2, 4, 5, 5, 2, 1, 6, 5)
rep_set = set()
for ele in tup:
    if (tup.count(ele) > 1):
        rep_set.add(ele)
print(rep_set)

{2, 5}

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [51]:
list_of_tuple = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
lst_of_lst = [list(ele) for ele in list_of_tuple]
for i in range(0, len(lst_of_lst)):
    lst_of_lst[i][2] = 500
list_of_tuple = [tuple(ele) for ele in lst_of_lst]
list_of_tuple

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]