1. Print the first 5 positive integers in ascending order with one number 
in each line

In [3]:
for i in range(5):
    print(i+1)

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [2]:
for i in range(1, 6):
    print('*'*i)

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [7]:
a = int(input('Enter the Number'))
print(a**2)

Enter the Number 3

9

4.Accept two integers as input and print their sum as output.

In [13]:
a = int(input('Enter the Number'))
b = int(input('Enter the Number'))
print(a + b)

Enter the first String 4
Enter the Second String  4

8

5. Accept two words as input and print the two words after adding a 
space between them

In [14]:
a = input('Enter the first String')
b = input('Enter the Second String')
print(a + " " + b)

Enter the first String vikas
Enter the Second String palekar

vikas palekar

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [15]:
s = input()
print(s[:2])

 MH32AS4731

MH

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [20]:
num = input()
d1 = int(num[0])
d2 = int(num[1])
d3 = int(num[2])
d4 = int(num[3])
d5 = int(num[4])
dsum = d1 + d2 + d3 + d4 + d5
print(dsum)

 12345

15

In [3]:
num = input()
sum = 0
for i in range(0, len(num)):
    sum = sum + int(num[i])
print(sum)

 12345

15

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [34]:
word1 = input()
word2 = input()
word3 = input()
word4 = input()
word5 = input()
space = ' '
stop = '.'
sentance = word1 + space + word2 + space + word3 + space + word4 + space + word5 + stop
print(sentance)

 this
 is
 five
 word
 sentence

this is five word sentence.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [39]:
date = input()
print('Year is 'date[6:])

 12-10-2022

2022

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [10]:
input_num = input()
input_list = list(input_num.split(','))
prod = 1
for i in input_list:
    prod = prod * int(i)
print(prod)

 1,2,3,4,5

120

In [11]:
input_num = list(input().split(','))
prod = 1
for i in input_num:
    prod = prod * int(i)
print(prod)

 1,2,3,4,5

120

11. Accept two positive integers x and y as input. Print the number of 
digits in x^y

In [20]:
x = int(input())
y= int(input())
z = x**y
print(z)
print(len(str(z)))

 100
 2

10000
5

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [42]:
str = input()
if (len(str) % 2 == 0):
    if(str[-1] == '.'):
        str = str[0:-1]
    else:
        str = str + '.'
print(str)
for i in range(len(str)):
    sub_str = str[i:-i]
    if (len(sub_str) == 3):
        print(sub_str)

 vikaspalekar

vikaspalekar.
pal

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [44]:
x = int(input())
y = int(input())
z = int(input())
if ((x**2 + y**2 == z**2) or (z**2 + y**2 == x**2) or (x**2 + z**2 == y**2)):
    print("YES")
else:
    print("No")

 3
 4
 5

YES

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [46]:
Emp_id1 = int(input())
Emp_id2 = int(input())
Emp_id3 = int(input())
Emp_id4 = int(input())
Emp_id5 = int(input())
if ((Emp_id1 + Emp_id2) % 2 == 0 and
    (Emp_id2 + Emp_id3) % 2 == 0 and
    (Emp_id3 + Emp_id4) % 2 == 0 and
    (Emp_id4 + Emp_id5) % 2 == 0 and
    (Emp_id5 + Emp_id1) % 2 == 0) :
    print('YES')
else:
    print('No')

 2
 4
 5
 4
 5

No

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [24]:
volwels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U' ]
input_str = input()
vol_in_str = []
for i in input_str:
    if i in volwels:
        i = i.lower()
        vol_in_str.append(i)

if (len(vol_in_str) == 0):
    print('none')
else:
    print(set(vol_in_str))

 VIKASpalekar

{'a', 'e', 'i'}

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [55]:
Person1_name = input()
Person1_dob = input()
Person2_name = input()
Person2_dob = input()
Person1_doy = int(Person1_dob[-4:])
Person1_dom = int(Person1_dob[3:5])
Person1_dod = int(Person1_dob[0:2])
Person2_doy = int(Person2_dob[-4:])
Person2_dom = int(Person2_dob[3:5])
Person2_dod = int(Person2_dob[0:2])
if (Person1_doy == Person2_doy):
    if (Person1_dom == Person2_dom):
        if (Person1_dod == Person2_dod):
            if(Person1_name > Person2_name):
                print(f"{Person2_name} is younger than {Person1_name}")
            else:
                print(f"{Person2_name} is younger than {Person1_name}")
        elif(Person1_dod > Person2_dod):
            print(f"{Person2_name} is younger than {Person1_name}")
        else:
            print(f"{Person1_name} is younger than {Person2_name}")
    elif(Person1_dom > Person2_dom):
        print(f"{Person2_name} is younger than {Person1_name}")
    else:
        print(f"{Person1_name} is younger than {Person2_name}")
elif(Person1_doy > Person2_doy):
    print(f"{Person2_name} is younger than {Person1_name}")
else:
    print(f"{Person1_name} is younger than {Person2_name}")

 vikas
 17-04-1983
 shital
 12-04-1983

shital is younger than vikas

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [70]:
inp_paas = input()
sp_char = ['/', '\\', "=", '"', "'", ' ']
if(32 > len(inp_paas) > 8):
    if(inp_paas[0].isupper() or inp_paas[0].islower()):
        flag = 0
        for i in range(len(inp_paas)):
            if (inp_paas[i] in sp_char):
                flag = 1
if(flag == 0):
    print('Valid Passward')
else:
    print('Invalid Passward')

 vika'pale

Invalid Passward

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [72]:
num = int(input())
for i in range(1, num+1):
    print(i)

 5

1
2
3
4
5

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [78]:
num = int(input())
if(num > 1):
    if (num == 1):
        print('PRIME')
    elif(num %2 == 1):
        print('PRIME')
    else:
        print('NOT PRIME')

 44

NOT PRIME

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [87]:
str1 = input()
str2 = input()
for i in str1:
    if(i in str2):
        str2 = str2.replace(i, '')
print(str2)

 vikas
 palekar

pler

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [43]:
ph_num = input()
a = False
if(len(ph_num) == 10 and int(ph_num[0])>5 and ph_num.isdigit()):
    for i in range(10):
        if (ph_num.count(ph_num[i]) < 8):
            a = True
            if (ph_num[i]*6 in ph_num):
                a = False
                break
            else:
                break

if a:
    print('Valid')
else:
    print('Invalid')

 8888888878

Valid

In [35]:
ph_num = '8888885565'
a = False
if (ph_num.count(ph_num[0]) < 8):
    a = True
    if (ph_num[0]*6 in ph_num):
                a = False
print(a)

False

In [40]:
ph_num.count(ph_num[0])

8

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [48]:
seq = input()
single = input()
if single in seq:
    print('YES')
    print(seq.count(single))
else:
    print('NO')

 he range of a list of numbers is the difference between the maximum and minimum values in the list
 the

YES
3

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [53]:
num = int(input())
def facto(n):
    if(num == 0):
        print(1)
    if(num < 0):
        print(-1)
    fact = 1
    for i in range(0, n):
        fact = fact * ( n - i)
    return fact

print(facto(num))

 4

24

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [9]:
l = [3, 5, 4, 11, 33]
def get_max(lst):
    max_lst = lst[0]
    for i in lst:
        if i > max_lst:
            max_lst = i
    return max_lst

def get_min(lst):
    min_lst = lst[0]
    for i in lst:
        if i < min_lst:
            min_lst = i
    return min_lst

def get_range(lst):
    min_lst = get_min(lst)
    max_lst = get_max(lst)
    return max_lst - min_lst
print(get_range(l))

30

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [15]:
r_no = input()
def find_ds_stud(roll_no):
    if (roll_no[:2] == 'DS'):
        print('True')
    else:
        print('False')
find_ds_stud(r_no)

 MR18B0000

False

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [20]:
num_plate = input()
def identify(num):
    if(num[:4] == 'TN07' or num[4:] == 'TN07'):
        print('True')
    else:
        print('False')

identify(num_plate)

 TN07AA00

True

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [39]:
a = input()
b = int(input())
c = int(input())
d = a[b:c+1]
l_d = len(d)
l_a = len(a)
for i in range(1, l_a):
    if(i*l_d > l_a):
        new = d*i
        break
print(new)

 entire
 1
 5

ntirentire

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [40]:
n = int(input())
for i in range(1, n+1, 4):
    if n == i:
        print('Sapphire')
for i in range(2, n+1, 4):
    if n == i:
        print('Peridot')
for i in range(3, n+1, 4):
    if n == i:
        print('Ruby')
for i in range(3, n+1, 4):
    if n == i:
        print('Ruby')

 25

Sapphire

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [47]:
no_back = int(input())
CGPA = float(input())
if(no_back < 6 and CGPA > 6):
    print('Salary offered', CGPA * 5)
else:
    print('Not Selected')

 4
 5.5

Not Selected

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [53]:
st = input()
st_r = st[::-1]
if(st == st_r):
    print('PALINDROM')
else:
    print('NOT PALINDROM')

 ana

PALINDROM

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [89]:
def get_passward_strength(username, password):
    score  = 0
    capital = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    c_flag = False
    small = 'abcdefghijklmnopqrstuvwxyz'
    s_flag = False
    num = '0123456789'
    n_flag = False
    nc_flag = True
    if username in password:
        print('PASSWORD SHOULD NOT CONTAIN USERNAME')
        return
    if (len(password)>7):
        score += 1
    for i in range(len(password)):
        if password[i] in small:
            s_flag = True
        if password[i] in capital:
            c_flag = True
        if password[i] in num:
            n_flag = True
            if n_flag:
                if i!=(len(password)-1):
                    if num[((num.index(password[i])))+1] == password[i+1]:
                        nc_flag = False
        if c_flag and s_flag:
            score += 1
        if n_flag and nc_flag:
            score += 1
        if not password.isalnum():
            score += 1
        if score == 4:
            print('Very Strong')
            return
        if score == 3:
            print('Strong')   
            return
        if score == 2:
            print('Moderate')
            return
        if score == 1:
            print('Weak')
            return
        if score == 0:
            print('Use Different password')
            return

get_passward_strength("vikas", "1nc2_3@UY")

Strong

33.decorator that logs the date and time
#The strftime() function is used to convert date and time objects to their string representation.

In [1]:
from datetime import datetime


def log_datetime(func):
    '''Log the date and time of a function'''

    def wrapper():
        print(f'Function: {func.__name__}\nRun on: {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper


@log_datetime
def daily_backup():

    print('Daily backup job has finished.')

In [2]:
daily_backup()

Function: daily_backup
Run on: 2022-11-28 09:04:35
------------------------------
Daily backup job has finished.

In [10]:
# Decorator to accept Hellow World and Return ['hellow', 'world']


def l_case(function):
    def wrapper():
        func = function()
        string_lowercase = func.lower()
        return string_lowercase
    return wrapper

def split_words(function):
    def wrapper():
        func = function()
        words_split = func.split()
        return words_split
    return wrapper

@split_words  #l_case decorator is execuated second
@l_case   #l_case decorator is execuated first
def print_hello():
    return 'Hellow World'

print_hello()

['hellow', 'world']

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [1]:
l = [1, 3, 1, 3, 4, 1]
li = []
for i in l:
    if l.count(i) % 2 !=0:
        li.append(i)
print(li)

[1, 1, 4, 1]

35.What are decorators in Python?

Decorators
 in Python are essentially functions that add functionality to an existing function in Python
 without changing the structure of the function itself. They are represented by the
@decorator_name
 inPython and are called in bottom-up fashion. For example:

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [14]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
number_list = [ele for ele in number_list if ele <= 50]
print(number_list)

[10, 20, 30, 40, 50]

In [15]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
n = len(number_list)
while i<n:
    if number_list[i] > 50 :
        del number_list[i]
        n = n -1
    else:
        i = i + 1
print(number_list)

[10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [18]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
dup = []
for ele in sample_list:
    if (sample_list.count(ele) > 1):
        dup.append(ele)
print(list(set(dup)))

[20, 60, 30]

In [21]:
import collections

sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

duplicate = []

for item, count in collections.Counter(sample_list).items():
    if count > 1:
        duplicate.append(item)
print(duplicate)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [23]:
def str_accept(str1, str2):
    x = str1
    y = str2
    def str_join():
        return x + ' ' + y + ' ' +'developer'
    z = str_join()
    return z

In [24]:
result = str_accept('vikas', 'palekar')
print(result)

vikas palekar developer

In [12]:
def manipulate(x, y):
    # concatenate two strings
    def inner_fun(x, y):
        return x + y

    z = inner_fun(x, y)
    return z + 'Developers'

result = manipulate('Emma', 'Kelly')
print(result)

EmmaKellyDevelopers

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [25]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

list1[1][2][2][1] = 3500

print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [28]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}
print(emp_dict['company']['employee']['payable']['increment'])

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [31]:
for i in range(10):
    print(f'Current Number {i} Previous Number {i-1} Sum : {i + (i -1)}')

Current Number 0 Previous Number -1 Sum : -1
Current Number 1 Previous Number 0 Sum : 1
Current Number 2 Previous Number 1 Sum : 3
Current Number 3 Previous Number 2 Sum : 5
Current Number 4 Previous Number 3 Sum : 7
Current Number 5 Previous Number 4 Sum : 9
Current Number 6 Previous Number 5 Sum : 11
Current Number 7 Previous Number 6 Sum : 13
Current Number 8 Previous Number 7 Sum : 15
Current Number 9 Previous Number 8 Sum : 17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [28]:
string = input('Input: ')
evn_str = []
for i in range(0, len(string), 2):
    evn_str.append(string[i])
print(str(evn_str))

Input:  ineuron

['i', 'e', 'r', 'n']

In [30]:
string = input('Input: ')
for i in range(0, len(string), 2):
    print(string[i], end=" ")

Input:  ineuron

i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [31]:
for i in range(1, 11):
    for j in range(1, 11):
        c = i * j
        
        print(f"{c} ", end=" ")
    print("\n")

1  2  3  4  5  6  7  8  9  10

2  4  6  8  10  12  14  16  18  20

3  6  9  12  15  18  21  24  27  30

4  8  12  16  20  24  28  32  36  40

5  10  15  20  25  30  35  40  45  50

6  12  18  24  30  36  42  48  54  60

7  14  21  28  35  42  49  56  63  70

8  16  24  32  40  48  56  64  72  80

9  18  27  36  45  54  63  72  81  90

10  20  30  40  50  60  70  80  90  100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [33]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

print("Original list", sample_list)

sample_list = list(set(sample_list))
print("unique list", sample_list)

t = tuple(sample_list)
print("tuple ", t)

print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))

Original list [87, 45, 41, 65, 94, 41, 99, 94]
unique list [65, 99, 41, 45, 87, 94]
tuple  (65, 99, 41, 45, 87, 94)
Minimum number is:  41
Maximum number is:  99

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [57]:
add = lambda num : num + 15
print('Addition : ', add(2))
mul = lambda num1, num2 : num1 * num2
print('Multiplication : ', mul(2, 2))

Addition :  17
Multiplication :  4

46. Write a Python program to sort a list of tuples using Lambda.


The sort() method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).
reverse	Optional. reverse=True will sort the list descending. Default is reverse=False
key	Optional. A function to specify the sorting criteria(s)

In [ ]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

47. Write a Python program to extract year, month, date and time using Lambda.

In [61]:
import datetime
now = datetime.datetime.now()
year = lambda x : x.year
month = lambda x : x.month
day = lambda x : x.day
time = lambda x : x.time()
print(year(now))
print(month(now))
print(day(now))
print(time(now))

2022
11
26
11:51:11.142036

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [72]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even =len(list(filter( lambda x : x%2==0, l)))
odd =len(list(filter( lambda x : x%2==1, l)))
print(even)
print(odd)

4
5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [80]:
def test(s):
    return str(s).lower(), str(s).upper()

char = ['a', 'A', 'z', 'M']

result = map(test, char)

print(set(result))

{('z', 'Z'), ('m', 'M'), ('a', 'A')}

50.  Write a Python program to square the elements of a list using map() function.

In [77]:
def sq(n):
    return n**2
num = (1, 2, 3, 4, 5)

result = map(sq, num)
print(list(result))

[1, 4, 9, 16, 25]

In [73]:
def add(n):
    return n+n

In [74]:
num = (1, 2, 3, 4, 5)

In [75]:
result = map(add, num)
print(list(result))

[2, 4, 6, 8, 10]