Task 1

s = "this is My0First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .

In [2]:
#1 . Try to extract data from index one to index 300 with a jump of 3 
s = "this is My First Python programming class and i am learNING python string and its function"
s[0:300:3]

'tssyityopgmncsa alrNph rgni ni'

In [3]:
#2. Try to reverse a string without using reverse function 
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [13]:
#3. Try to split a string after conversion of entire string in uppercase 
s = "this is My First Python programming class and i am learNING python string and its function"
l = (s.upper()).split(' ')
l

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [14]:
#4. try to convert the whole string into lower case 
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [15]:
#5 . Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

#6 . Write a diference between isalnum() and isalpha()
Ans : isalnum() function returns the boolean values true or false. It return true if string is combination of alphabets and number. it also return true if string contains only numbers which are considered as char. if string consist of special charectot it returns false
 isalpha() 

s.isalnum() function returns the boolean values true or false. It return true only if string is combination of alphabets, otherwise false

In [33]:
p = '123'
p.isalnum()

True

In [32]:
p = 'abac%'
p.isalpha()

False

In [34]:
#7. Try to give an example of expand tab
m = 'ineuron\ti\tcode\twrite'
m.expandtabs() #expandtab() expands the the tab \t code available in string

'ineuron i       code    write'

In [50]:
#8 . Give an example of strip , lstrip and rstrip 

#strip() removes all white spaces from the front and end of sting.
#ltrip() removes all white spaces only from the front sting.
#strip() removes all white spaces only from the end of sting.

s1 = '   vikas   palekar   '
s1.strip()

'vikas   palekar'

In [48]:
s1.lstrip()

'vikas   palekar   '

In [49]:
s1.rstrip()

'   vikas   palekar'

In [54]:
#9.  Replace a string charecter by another charector by taking your own example 
s = "vikas"
s.replace('v', 'V')

'Vikas'

In [55]:
s.replace('s', 'S')

'vikaS'

In [59]:
#10 . Try  to give a defination of string center function with and exmple 
# Ans : The center() method will center align the string, using a specified character (space is default) as the fill character.
# syntax is string.center(length, character)


s = 'Vikas'
s.center(20)

'       Vikas        '

In [60]:
s.center(20, '%')

'%%%%%%%Vikas%%%%%%%%'

#11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language

Ans : Compiler is the program which is used to take high level language code and input and convert into machine readable code i.e object code or machile lavel code.
there are various stages of compilation process. Interpretor program is the part of compilation proceess to inderstand the instuction.

Interpreter is the program used to understand the context of instruction (action to be done). Interpreter is line by line process.

Task 2

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [61]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [62]:
#1 . Try to reverse a list 
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [63]:
#2. try to access 234 out of this list 
l[7][0]

234

In [68]:
l[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [69]:
l[8].keys()

dict_keys(['key1', 234])

In [72]:
list(l[8].keys())[1]

234

In [64]:
#3 . try to access 456
l[5][1]

456

In [65]:
#4 . Try to extract only a list collection form list l 
list_collection = l[0:7]
list_collection

[3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [88]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
ls = []
for i in range(len(l)):
    if (type(l[i]) == list) :
        ls.append(l[i])

ls

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [73]:
#5 . Try to extract "sudh"
l[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [75]:
list(l[8].values())[0]

'sudh'

In [78]:
#6 . Try to list all the key in dict element avaible in list 
list(l[8].keys())

['key1', 234]

In [80]:
#7 . Try to extract all the value element form dict available in list
list(l[8].values())

['sudh', [23, 45, 656]]

Task 3

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 : Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [93]:
str = 'ineruon '
for i in range(1, 5):
    print(str*i)

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [97]:
str = 'ineruon'
for i in range(5):
    for j in range(i):
        print('ineruon', end=' ')
    print("\n")

ineruon

ineruon ineruon

ineruon ineruon ineruon

ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [127]:
str = 'ineruon    '
for i in range(4):
    str1 = str*i
    str2 = str1.center(33)
    print(str2)
for j in range(1,3):
    str1 = str*(i-j)
    str2 = str1.center(33)
    print(str2)

           ineruon
      ineruon    ineruon
ineruon    ineruon    ineruon
      ineruon    ineruon
           ineruon

In [121]:
len(str*3)

33

In [ ]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 : Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [128]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [129]:
#q3 : Try to extract all the list entity 
ls = []
for i in range(len(l)):
    if(type(l[i]) == list):
        ls.append(l[i])

print(ls)

[[1, 2, 3, 4], ['ineuron', 'data science ']]

In [130]:
#q4 : Try to extract all the dict enteties
dic = []
for i in range(len(l)):
    if(type(l[i]) == dict):
        dic.append(l[i])

print(dic)

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

In [132]:
#q5 : Try to extract all the tuples entities
tup = []
for i in range(len(l)):
    if(type(l[i]) == tuple):
        tup.append(l[i])

print(tup)

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

In [67]:
#q6 Try to extract all the numerical data it may b a part of dict key and values 
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
ext_num = []
for i in l:
    if(type(i) == list or type(i) == tuple ):
        for j in range(len(i)):
            if (type(i[j]) == int):
                ext_num.append(i[j])
    if(type(i) == set):
        set_lst = list(i)
        for k in range(len(set_lst)):
            if (type(set_lst[k]) == int):
                ext_num.append(set_lst[k])
    if(type(i) == dict):
        key = list(i.keys())
        for m in range(len(key)):
            if (type(key[m]) == int):
                ext_num.append(key[m])
        val = list(i.values())
        for n in range(len(val)):
            if (type(val[n]) == int):
                ext_num.append(val[n])
                
print(ext_num)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 6, 8]

In [43]:
#q7 : Try to give summation of all the numeric data 
print(sum(ext_num))

156

In [44]:
#q8 : Try to filter out all the odd values out all numeric data which is a part of a list
odd_ext_num = []
even_ext_num = []
for i in ext_num:
    if i % 2 == 0:
        even_ext_num.append(i)
    else:
        odd_ext_num.append(i)
print(odd_ext_num)
print(even_ext_num)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]
[2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

In [45]:
#q9 : Try to extract "ineruon" out of this data
l[5][0]

'ineuron'

In [54]:
#10 : Try to find out a number of occurances of all the data
for i in ext_num:
    print(f'{i} occure {ext_num.count(i)} times')

1 occure 1 times
2 occure 2 times
3 occure 4 times
4 occure 4 times
2 occure 2 times
3 occure 4 times
4 occure 4 times
5 occure 3 times
6 occure 3 times
3 occure 4 times
4 occure 4 times
5 occure 3 times
6 occure 3 times
7 occure 2 times
45 occure 1 times
4 occure 4 times
5 occure 3 times
23 occure 1 times
3 occure 4 times
7 occure 2 times
6 occure 3 times
8 occure 1 times

In [57]:
#q11 : Try to find out number of keys in dict element
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    if(type(i) == dict):
        key = list(i.keys())
        print(len(key))

5

In [61]:
#q12 : Try to filter out all the string data
ext_str = []
for i in l:
    if(type(i) == str or type(i) == str ):
        for j in range(len(i)):
            if (type(i[j]) == str):
                ext_str.append(i[j])
    if(type(i) == set):
        set_lst = list(i)
        for k in range(len(set_lst)):
            if (type(set_lst[k]) == str):
                ext_str.append(set_lst[k])
    if(type(i) == dict):
        key = list(i.keys())
        for m in range(len(key)):
            if (type(key[m]) == str):
                ext_str.append(key[m])
        val = list(i.values())
        for n in range(len(val)):
            if (type(val[n]) == str):
                ext_str.append(val[n])
                
print(ext_str)

['k1', 'k2', 'k3', 'sudh', 'ineuron', 'kumar']

In [62]:
#q13 : Try to Find  out alphanum in data
ap_num = []
for i in ext_str:
    if (i.isalnum()):
        ap_num.append(i)
print(ap_num)

['k1', 'k2', 'k3', 'sudh', 'ineuron', 'kumar']

In [69]:
#q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset
prod = 1
for i in ext_num:
    prod = prod * i
print(prod)

908605071360000

Task 4

q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * *

In [81]:
i = 1
while i < 9:
    print('* '*i, end=' ')
    print('\n')
    i += 1

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y

In [91]:
s = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
c = 7
while(c>1):
    print(s[i])
    c -= 1

G
G
G
G
G
G

In [92]:
#q3 : Try to print all the number divisible by 3 in between a range of 40 - 400

for i in range(40, 401):
    if i % 3 == 0:
        print(i)

42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399

#q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]