In [1]:
class emp:                #emp is the class name
    pass

In [2]:
e = emp()                 # e is the object of class emp()

In [4]:
print(type(e))

<class '__main__.emp'>

In [5]:
id(e)

140328868674768

In [6]:
class Robot:
    def intoduce_self(self):
        print("My name is " + self.name)

In [7]:
r1 = Robot()

In [9]:
r1.name = 'abc'

In [10]:
r1.intoduce_self()

My name is abc

In [11]:
r2 = Robot()

In [12]:
r2.name = 'xyz'

In [13]:
r2.intoduce_self()

My name is xyz

In [14]:
dir(r1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'intoduce_self',
 'name']

In [15]:
r3 = Robot()
r3.intoduce_self()

AttributeError: 'Robot' object has no attribute 'name'

In [17]:
r3 = Robot()
r3.intoduce_self('Vikas')

TypeError: Robot.intoduce_self() takes 1 positional argument but 2 were given

In [18]:
r3.name = 'Vikas'
r3.intoduce_self()

My name is Vikas

In [ ]:
class Robot:
    
    def __init__(self, name, colour, weight):
        self.name = name
        sel
    
    
    def intoduce_self(self):
        print("My name is " + self.name)

In [19]:
class Person():
    def __init__(self, name, gender, profession):
        self.name = name
        self.gender = gender
        self.profession = profession
    
    def show(self):
        print('Name', self.name, 'Gender', self.gender, 'Profession', self.profession)
        
    def work(self):
        print(self.name, 'Working as' , self.profession)

In [20]:
o1 = Person('Vikas', 'Male', 'Master in Enggineeing')

In [21]:
o1.show()

Name Vikas Gender Male Profession Master in Enggineeing

In [22]:
o1.work()

Vikas Working as Master in Enggineeing

In [23]:
class Emp():
    def __init__(self):
        print(id(self))
        self.age=25
        self.name='vikas'
        self.salaru=50000

In [24]:
e1 = Emp()

140328865769808

In [25]:
e1.salaru

50000

In [26]:
e1.name

'vikas'

In [35]:
class Area_circle():
    def __init__(self, radius):
        self.radius = radius
    
    def area(self):
        print('Area of circle :', 3.14 * self.radius**2)
        
    def circumtance(self):
        print('Circumrance of circle :', 2 * 3.14 * self.radius)

In [36]:
c1 = Area_circle(10)

In [37]:
c1.area()

Area of circle : 314.0

In [38]:
c1.circumtance()

Circumrance of circle : 62.800000000000004

In [41]:
class Account():
    def __init__(self, account_no, name, balance):
        self.account_no = account_no
        self.name = name
        self.balance = balance
        
    def deposit(self, dep_amount):
        self.dep_amount = dep_amount
        self.balance = self.balance + self.dep_amount
        
    def withdrawal(self, wit_amount):
        self.wit_amount = wit_amount
        self.balance = self.balance - self.wit_amount
        
    def display(self):
        print('Account No.', self.account_no, 'Name', self.name, 'Balance', self.balance)

In [43]:
b1 = Account(123, 'vikas', 5000)

In [44]:
b1.deposit(100)

In [45]:
b1.withdrawal(50)

In [46]:
b1.display()

Account No. 123 Name vikas Balance 5050